:root{
    --white: hsl(0, 0%, 100%);
    --slate300: hsl(212, 45%, 89%);
    --slate500: hsl(216, 15%, 48%);
    --slate900: hsl(218, 44%, 22);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(212, 45%, 89%);
    font-family: "outfit", sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
  

}

.container{
    width: 350px;
    height: 520px;
    margin-top: 5rem;
    background-color:hsl(0, 0%, 100%);
    padding: 1.25rem;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    
}
.container img{
    max-width: 100%;
    margin-bottom: 1rem;
    border-radius: 20px;
   
}
.container h2{

    color: hsl(218, 44%, 22);
    font-weight: 700;
    text-align: center
}
.container p{
    color: var(--slate500);
    text-align: center;
}
@media  (max-width :480px) {
    .container{
        margin-top: 2rem;
        width: 92%;
        
    }
    
}